@font-face {
  font-family: 'Emulogic';
  src: url('./fonts/Emulogic-zrEw.ttf') format('truetype');
}

* {
  font-family: 'Emulogic', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

#db-form,
#update-form {
  margin: 1.25rem auto;
}

#update-form {
  width: 18.75rem;
  position: absolute;

  background-color: rgba(71, 57, 0, 0.8);
  padding: 1rem;
  border-radius: 0.3125rem;
}

#db-form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 36rem;
}

#input-name {
  min-width: 15rem;
}

input[type='text'] {
  width: calc(100% - 1.375rem);
  padding: 0.625rem;
  margin: 0.3125rem 0;
  border: 0.125rem solid #ffd700;
  border-radius: 0.3125rem;
  background-color: black;
  color: white;
}

button {
  width: 100%;
  padding: 0.625rem;
  margin: 0.3125rem 0;
  border: none;
  border-radius: 0.3125rem;
  background-color: #ffd700;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ffa500;
}

#game-canvas {
  display: block;
  margin: 1.25rem auto;
  background-color: black;
  border: 0.125rem solid #ffd700;
}

#enemy-list {
  list-style-type: none;
  padding: 0;
}

#enemy-list li {
  background-color: #ffd700;
  color: black;
  padding: 0.3125rem;
  margin: 0.3125rem 0;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  font-size: small;
}

.center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
